@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: hsla(225, 8%, 17%, 1);
    color: #fff;
    font-size: 16px;
    overflow-x: hidden;
}

header {
    background-color: #1c1c1c;
    box-shadow: 0 0 20px #000;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}

.container {
    height: 800px;
    background-image: url(../img/fd-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-creation {
    background-color: #201d1e3a;
    backdrop-filter: blur(10px);
    color: #c3b6b7;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    margin: 10px auto;
    width: 370px;
}

.character-creation h2 {
    color: #d9822c;
    font-size: 28px;
    text-align: center;
}

.character-creation h3 {
    color: #c3b6b7;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #c3b6b7;
    border-top: 2px solid #c3b6b7;
}

.cut {
    display: flex;
    justify-content: space-evenly;
}

.cut #cutOne,
.cut #cutTwo {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.character-creation label {
    font-size: 14px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.character-creation input,
.character-creation select {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #c3b6b7;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.character-creation button {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 10px;
    background-color: #c5803a;
    box-shadow: 0 0 20px #000;
    border-radius: 5px;
    border: none;
    color: #201d1e;
    font-size: 18px;
    font-weight: bold;
    width: 30%;
    transition: transform .3s ease;
}

.character-creation button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #d9822c;
}

/* Cartes créées */

.listSearch {
    background-color: #1c1c1c;
    box-shadow: 0 0 20px #000;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.allInput {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    color: #fafafa;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search__input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 55px;
    box-shadow: inset 3.2px 3.2px 8px #2d2d2d,
        inset -3.2px -3.2px 8px #000;
    background: none;
    font-family: inherit;
    color: #fff;
}

.search__input::placeholder {
    color: #a3a3a3;
}

.search__input:focus {
    outline: none;
    box-shadow: 4.8px 4.8px 9.6px #2d2d2d,
        -3.2px -3.2px 8px #000;
}

.search__icon {
    position: absolute;
    font-size: 25px;
    padding: 0 1rem;
    display: flex;
    color: #a3a3a3;
    transition: .3s ease;
}

.containerCharacters {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-character {
    position: relative;
    border-radius: 15px;
    width: 300px;
    height: 430px;
    margin-bottom: 40px;
    transform-style: preserve-3d;
    transition: transform 1s;
    perspective: 1000px;
}

.card-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadeIn 0.5s ease-in-out;
    backface-visibility: hidden;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card-body p {
    color: #fafafa;
    font-size: 16px;
    margin-left: 15px;
}

.container-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-btn button {
    font-family: 'Source Sans Pro', sans-serif;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    width: 40%;
    transition: transform .3s ease;
    padding: 10px;
}


.container-btn button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #bb4357;
}

.character-modify {
    position: absolute;
    background-color: #1b1c20;
    color: #ffffff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    width: 320px;
    height: 450px;
}

.character-modify h2 {
    color: #f44336;
    font-size: 28px;
    text-align: center;
    padding-top: 10px;
}

.character-modify h3 {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #f44336;
    border-top: 2px solid #f44336;
}

.character-modify label {
    font-size: 14px;
}

.character-modify input,
.character-modify select {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    margin-bottom: 5px;
    color: #1e1b2f;
    box-shadow: 0 0 10px #1e1b2f;
}

.character-modify button {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 10px;
    background-color: #f44336;
    box-shadow: 0 0 20px #000;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    width: 30%;
    transition: transform .3s ease;
}

.character-modify button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #ff5722;
}

/* responsive */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    .container {
        height: 100vh;
        background-image: none;
    }

    .character-creation {
        width: 80%;
    }

    .character-creation h2 {
        font-size: 24px;
    }

    .character-creation h3 {
        font-size: 18px;
    }

    .character-creation button {
        padding: 5px 10px;
    }

    .listSearch h2 {
        font-size: 24px;
    }

    .allInput {
        flex-direction: column;
        align-items: center;
    }

    .search__input {
        width: 180px;
        height: 40px;
        font-size: 14px;
        padding-left: 50px;
        margin-bottom: 5px;
    }

    .search__icon {
        font-size: 20px;
    }

    .card-character {
        width: 270px;
        height: 350px;
    }

    .card-body p {
        font-size: 14px;
    }

    .character-modify {
        width: 270px;
        height: 355px;
    }

    .character-modify h2 {
        font-size: 20px;
        padding-top: 5px;
    }

    .character-modify h3 {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #f44336;
        border-top: 1px solid #f44336;
    }

    .character-modify label {
        font-size: 12px;
    }

    .character-modify input,
    .character-modify select {
        font-size: 12px;
    }

    .character-modify button {
        padding: 5px 10px;
        font-size: 14px;
    }
}